@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Caesar Dressing";
  src: url("/fonts/CaesarDressing-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Preloader.css */
.preloader {
  background-color: #1d0a0a;
  color: #f4dede;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 3s ease;
}

.preloader-text {
  margin-bottom: 20px;
}

.preloader-countdown {
  font-size: 3rem;
}

/* Add this class to handle fade out effect */
.fade-out {
  opacity: 0;
}
